<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/cadaln.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/navbar.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/index.css' />
    <link rel="stylesheet" type="text/css" href='bootstrap.min.css'>
    <title>Document</title>
</head>
<body>
    <%- include('components/navbar-guest')%>
    <div>
        <button onclick="next()">next</button>
        <button onclick="previous()">previous</button>
    </div>

    <form method="post" action="/new">
        <div class="m-5">
            <h3>usuarios</h3>
            <table id="registers" class="table table-dark rounded-5" style="overflow: hidden;">
                <tr class="center">
                    <th scope="col">id</th>
                    <th scope="col">nome</th>
                    <th scope="col">matrícula</th>
                    <th scope="col">email</th>
                    <th scope="col">password</th>
                    <th scope="col">matricula ativa</th>
                </tr>
                <tr>
                    <%for(user of users){%>                      
                        <tr class="ps-2" onclick="showOptionsRegister(`<%=user.id%>`)">
                            <td><%=user.id%></td>
                            <td><%= user.name%></td>
                            <td><%=user.matricula%></td>
                            <td><%=user.email%></td>
                            <td>
                                <p hidden>
                                    <%=user.password%>
                                </p>
                            </td>
                            <td><%=user.isMatActive ? 'sim' : 'não' %></td>
                            <tr>
                                <th class="ps-4" colspan="6" id="<%=user.id%>" hidden>
                                    <input class="btn btn-secondary ms-4" type="button" value="editar">
                                    <input class="btn btn-danger ms-4" type="button" value="deletar">
                                </th>
                            </tr>
                        </tr>
                    <%}%>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" name="name"></td>
                    <td><input type="text" name="mat"></td>
                    <td><input type="email" name="email" ></td>
                    <td><input type="password" name="password" ></td>
                    <td><input type="text" name="isMatAct" ></td>
                </tr>
            </table>
            <input class="btn btn-primary" type="submit" value="registrar">
        </form>
    </div>
    <%- include('components/bottombar')%>
    <script>
        function showOptionsRegister(id){
            hidRow = document.getElementById(id);
            hidRow.hidden = !hidRow.hidden;
            console.log("showOptionsRegister at ID:", hidRow.id, " hidden:", hidRow.hidden);
        };
    </script>
</body>
</html>