<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/cadaln.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/navbar.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/index.css' />
    <link rel="stylesheet" type="text/css" href='bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title><%=title%></title>
</head>
<body>
    <a href="/homeAdm">voltar</a>
    <table class="table table-dark rounded-5" style="overflow: hidden;">
        <tr>
            <th>titulo</th>
            <th>autor</th>
            <th>editora</th>
            <th>ISBN</th>
            <th>edição</th>
            <th>ano de publicação</th>
        </tr>
        <%for(book of books){%>
            <tr>
                <td><%=book.title%> </td>
                <td><%=book.autor%> </td>
                <td><%=book.editora%> </td>
                <td><%=book.ISBN%> </td>
                <td><%=book.edicao%> </td>
                <td><%=book.anoLancamento%></td>
            </tr>
        <%}%>
    </table>
</body>
</html>